* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.fistTela {
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.5)), url("../imgs/DUCATI-V4S-FAROL.jpg");
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.fistTela h1 {
    text-decoration: underline;
    color: white;
    font-size: 2.5rem;
}

.title {
    position: relative;
    top: 5%;
}

.titleBottom {
    position: absolute;
    bottom: 10%;
}

header {
    width: 80%;
    margin-top: 50px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    box-shadow: inset 0px -5px 10px rgba(0, 0, 0, 0.575); 
    font-family: "abel", sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
}

header ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin-top: 10px;
    list-style: none;
}

header ul li a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.logo {
    width: 70px;
}

.textRed {
    color: red;
}

.modelos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.titleModelos {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 20px;
    text-decoration: underline;
}

.itens {
    width: 80%;
    height: 92vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: 30%;
    margin-bottom: 20px;
    text-align: center;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.card-center{
    margin-top: -20px;
}

.card p {
    margin-top: 10px;
    font-family: 'Abel', sans-serif;
    font-size: 1rem;
    color: black;
}

.informacao {
    width: 100%;
    height: 100vh;
    padding: 20px;
    background-color: black;
    color: white;
}

.topInformacao {
    text-align: center;
    margin-bottom: 200px;
}

.lineRed {
    width: 150px;
    height: 3px;
    background-color: red;
    margin: 0 auto;
}

.content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.content img {
    max-width: 40%;
    height: auto;
    margin-right: 20px;
}

.rightContent {
    max-width: 50%;
    font-family: 'Abel', sans-serif;
    text-align: center;
    margin-left: 40px;
}

.rightContent .lineRed{
    width: 450px;
    height: 3px;
    background-color: red;
    margin-top: -20px;
    margin-bottom: 50px;
}
.rightContent h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.rightContent p {
    text-align: left;
    font-size: 1.4rem;
    line-height: 1.5;
}

.rightContent h3{
    text-align: left;
    margin: 20px auto;
    font-size: 1.5rem;
}
